    .drop-zone {
        border: dotted 3px lightgray;
        height: 10%
    }
    
    .file-over {
        border: dotted 3px red;
    }
    /* Default class applied to drop zones on over */
    
    .upload-area-background {
        background-color: white;
        position: fixed;
        top: 52px;
        bottom: 52px;
        right: 0;
        left: 0;
        overflow-y: auto;
    }
    
    .table-border {
        border-top: dotted 3px lightgray;
        border-bottom: dotted 3px lightgray;
    }
    
    .preview-area-background {
        background-color: #f2f2f2;
        position: fixed;
        top: 52px;
        bottom: 52px;
        right: 0;
        left: 50%;
        overflow-y: auto;
    }
    
    .img-height {
        width: 250px;
        height: 150px;
    }
    
    .img-wrapper {
        position: relative;
        width: 100%;
        border-style: solid;
    }
    
    .img-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: right;
    }