/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
