<nav>
    <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
    <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
    <a [routerLink]="['/product']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Product</a>
    <a [routerLink]="['/service']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Service</a>
    <a [routerLink]="['/support']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Support</a>
</nav>