/*Title styles*/

a {
    list-style: none;
    background: none;
    border: 0;
    border-radius: 5px;
    /*border-width: 1px;
    border-color: grey;*/
}

a:hover {
    color: #f2f2f2;
    background-color: #4080bf;
    font-weight: bold;
}

.active {
    font-weight: bold;
    background-color: #f2f2f2;
    color: #4080bf;
    /*border-color: grey;*/
}

.title-background {
    background-color: #f2f2f2;
    position: fixed;
    top: 52px;
    bottom: 52px;
    left: 0;
    right: 0;
    overflow-y: auto;
}


/*content styles*/

.content-background {
    background-color: white;
    position: fixed;
    top: 52px;
    bottom: 52px;
    right: 0;
    left: calc(100% /3);
    overflow-y: auto;
}

pre {
    white-space: pre-wrap;
}

img {
    width: 250px;
    height: 250px;
    margin: 10px;
}