<div style="height:50px">
    <theoner-alert></theoner-alert>
</div>
<div class="container-fluid">
    <div class="row">
        <!--articles list-->
        <div class="col-3">
            <div>
                <button type="button" class="list-group-item list-group-item-action" (click)="addArticle()" [ngClass]="{'active':selectedArticle.id==null}"> New Article </button>
            </div>

            <div class="bg-faded" style="height:620px;overflow-y: scroll;">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" *ngFor="let article of articles" (click)="selectArticle(article)" [ngClass]="{'active':article==selectedArticle}">
                        <div class="col-8">
                            {{article.title}}
                        </div>
                        <div class="col-4">
                            <button type="button" class="close" (click)="(submitType='delete')&&open(confirmModal,'delete')">
                               <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <!--article edit form-->
        <div class="col-9">
            <div class="col-xs-12" style="height:20px;"></div>
            <form name="form" #f="ngForm" (ngSubmit)="f.form.valid  && open(confirmModal,submitType)" novalidate>
                <div class="row">
                    <label for="articleTitle" class="col-1 col-form-label">Title</label>
                    <div class="col-6">
                        <input class="form-control" #title="ngModel" name="title" type="text" id="article-title" placeholder="Please input article title" [(ngModel)]="selectedArticle.title" required>
                    </div>

                    <label for="articleType" class="col-2 col-form-label">Article Type</label>
                    <div class="col-3">
                        <select name="type" class="form-control" id="article-type" [(ngModel)]="selectedArticle.type" required>
                            <option value="product" selected>product</option>
                            <option value="service">service</option>
                            <option value="support">support</option>
                            <option value="about">about</option>
                        </select>
                    </div>
                </div>
                <div class="col-8 offset-md-1 text-danger" style="height:30px;">
                    <div *ngIf="!title.valid">Title is required</div>
                </div>

                <div class="form-group row">
                    <label for="articleContent" class="col-1 col-form-label">Content</label>
                    <div class="col-11">
                        <textarea name="content" class="form-control" #content="ngModel" type="text" required id="article-content" placeholder="Please input article content" rows="14" [(ngModel)]="selectedArticle.content"></textarea>
                    </div>
                </div>

                <div class="col-8 offset-md-1 text-danger" style="height:30px;">
                    <div *ngIf="!content.valid">Content is required</div>
                </div>

                <div class="row">
                    <div class="col-1 text-left">Left</div>
                    <div class="col-2">
                        <button type="button" class="btn btn-secondary" (click)="imagePosition='left';open(imageModal,'left');getImages();">Choose Image</button>
                    </div>
                    <div class="col-1 text-right">
                        Path
                    </div>
                    <div class="col-8">
                        <input [(ngModel)]="selectedArticle.image_path_left" name="imagePathLeft" class="form-control" type="text" placeholder="Choose Image" disabled>
                    </div>
                </div>

                <div class="row top-space">
                    <div class="col-1 text-left">Right</div>
                    <div class="col-2">
                        <button type="button" class="btn btn-secondary" (click)="imagePosition='right';open(imageModal,'right');getImages();">Choose Image</button>
                    </div>
                    <div class="col-1 text-right">
                        Path
                    </div>
                    <div class="col-8">
                        <input [(ngModel)]="selectedArticle.image_path_right" name="imagePathRight" class="form-control" type="text" placeholder="Choose Image " disabled>
                    </div>
                </div>

                <div class="row top-space ">
                    <div class="col-2 offset-1 ">
                        <button type="submit" class="btn btn-primary" (click)="onSubmit($event)">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!--confirm modal-->
<template #confirmModal let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="c() ">
      <span aria-hidden="true ">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure?</p>
  </div>
  <div class="modal-footer">
    <button prevent-double-submit type="button " class="btn btn-primary " (click)="confirmSubmit(c()) ">OK</button>
    <button type="button " class="btn btn-secondary " (click)="c() ">Close</button>
  </div>
</template>

<!--image modal-->
<template #imageModal let-c="close ">
  <div class="modal-header ">
    <h4 class="modal-title ">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="c()">
      <span aria-hidden="true ">&times;</span>
    </button>
  </div>
  <div class="modal-body ">
    <div *ngFor="let image of images">
        <img class="rounded float-left" [src]="storageUrl+image.path" (click)="chooseImage(image);c()">
    </div>
  </div>
  <div class="modal-footer ">
    <button type="button " class="btn btn-secondary " (click)="clearImage();c() ">Clear</button>
    <button type="button" class="btn btn-secondary" (click)="c()">Close</button>
  </div>
</template>