<div class="container-fluid">
    <div class="row">
        <div class="col-6 upload-area-background">
            <h3 class="top-space">Select files</h3>
            <div class="top-space" ng2FileDrop [ngClass]="{'file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="well drop-zone">
                Drop Image Here
            </div>
            Or Choose Images
            <input type="file" ng2FileSelect [uploader]="uploader" multiple />

            <div class="row" style="height:30px;border-bottom:solid 3px grey"></div>
            <h3 class="top-space">Upload queue</h3>
            <p>Queue length: {{ uploader?.queue?.length }}</p>

            <table class="table">
                <thead class="table-border">
                    <tr>
                        <th width="50%">Name</th>
                        <th>Size</th>
                        <th>Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td><strong>{{ item?.file?.name }}</strong></td>
                        <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                        <td *ngIf="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs" (click)="item.upload();reloadImages();" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                            <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                            <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div>
                <div>
                    Queue progress:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll();reloadImages();" [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
                <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
            </div>

        </div>

        <div class="col-6 preview-area-background">
            <h3 class="top-space"> Preview area</h3>
            <div class="row">
                <div class="col-1 top-space">
                    <input type="radio" name="queryType" value="checkByAll" checked>All
                </div>

                <!--<div class="col-2 top-space">
                    <input type="radio" name="queryType" id="checkByDate" value="option2">Date:
                </div>

                <div class="col-4 input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #startDate="ngbDatepicker">
                    <div class="input-group-addon" (click)="startDate.toggle()">
                        <img src="assets/calendar.png" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                    </div>
                </div>
                <div class="col-1 top-space">to</div>
                <div class="col-4 input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #endDate="ngbDatepicker">
                    <div class="input-group-addon" (click)="endDate.toggle()">
                        <img src="assets/calendar.png" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                    </div>
                </div>-->
            </div>
            <div class="row">
                <div class="col-4 top-space" *ngFor="let image of images">
                    <div class="img-wrapper">
                        <button class="close" (click)="selectedImage=image;open(confirmModal)">  
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <img class="img-thumbnail img-height" [src]="storageUrl+image.path" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--confirm modal-->
<template #confirmModal let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="c()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure?</p>
  </div>
  <div class="modal-footer">
    <button prevent-double-submit type="button" class="btn btn-primary" (click)="confirmDelete();c();">OK</button>
    <button type="button" class="btn btn-secondary" (click)="c()">Close</button>
  </div>
</template>