<nav class="navbar navbar-toggleable-md navbar-light">
    <a class="navbar-brand" [routerLink]="['/']">Theoner</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a *ngIf="!checkLoginStatus()" class="nav-link" [routerLink]="['login']">login</a>
                <a *ngIf="checkLoginStatus()" class="nav-link" (click)="logout()" [routerLink]="['login']">logout</a>
            </li>
        </ul>
    </div>
</nav>