<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="productbackground">
    <div class="row ">
        <div class="list-group col-2">
            <li class="list-group-item" *ngFor=" let article of articles">
                <a class="list-group-item-action" (click)="selectArticle(article)">{{article.title}}</a>
            </li>
        </div>
        <div class="col-10">
            <div *ngIf="selectedArticle">
                <h1>
                    {{selectedArticle.title}}
                </h1>
            </div>
            <div *ngIf="selectedArticle">
                <pre><img *ngIf="path" [src]="path" class="float-left"><div [innerHtml]="selectedArticle.content"></div></pre>
            </div>
        </div>
    </div>
</div>