a {
    list-style: none;
    background: none;
    border: 0
}

a:hover {
    color: #f2f2f2;
    background: #4080bf;
}

.active {
    font-weight: bold;
    color: #4080bf;
    background: #f2f2f2
}

.title-background {
    background-color: #f2f2f2;
    position: fixed;
    top: 52px;
    bottom: 52px;
    left: 0;
    right: 0;
    overflow-y: auto;
}

.content-background {
    background-color: white;
    position: fixed;
    top: 52px;
    bottom: 52px;
    right: 0;
    left: calc(100% /3);
    overflow-y: auto;
}

pre {
    white-space: pre-wrap;
}

img {
    width: 250px;
    height: 250px;
    margin: 10px;
}