a {
    list-style: none;
    background: none;
    border: 0
}

a:hover {
    background: grey;
}

.active {
    background: grey;
}

.title-background {
    background-color: #f2f2f2;
    position: relative;
    width: 25%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.content-background {
    background-color: white;
    position: fixed;
    left: 25%;
    width: 75%;
    height: 100%;
}

pre {
    white-space: pre-wrap;
}

img {
    width: 250px;
    height: 250px;
    margin: 10px;
}