<div class="container-fluid">
    <div class="row">
        <div class="col-4 title-background">
            <ul class="list-group">
                <a href="javascript:void(0)" data-target="#something" class="top-space list-group-item list-group-item-action" *ngFor=" let article of articles" [ngClass]="{'active':article==selectedArticle}" (click)="selectArticle(article)">
                    {{article.title}}
                </a>
            </ul>
        </div>
        <div class="col-8 content-background">
            <div class="article-content" *ngIf="selectedArticle">
                <h2 class="top-space">
                    {{selectedArticle.title}}
                </h2>
                <pre><img *ngIf="selectedArticle.image_path_left" [src]="storagePath+selectedArticle.image_path_left" class="float-left"><img *ngIf="selectedArticle.image_path_right" [src]="storagePath+selectedArticle.image_path_right" class="float-right"><div [innerHtml]="selectedArticle.content"></div></pre>
            </div>
        </div>
    </div>
</div>