
  li {
    list-style: none;
  }
  
  a {
    background: white;
    color: #fff;
    font-family: Sans-serif;
    font-size: 20px;
    height: 30px;
    
    line-height: 40px;
    margin: 1.9px 1.9px;
    text-align: center;
    border: 0;
    transition: all 0.5s ease 0s;
  }
  
  a:hover {
    background: grey;
  }
  .w3-container {
   padding-left: 0 !important;
   margin: 0 !important;
}
 .w3-panel {
   padding-left: 0 !important;
   margin: 0 !important;
}
.productbackground{
  background-image: url("productbackground.jpg");
  background-size:cover;
  position: absolute;
    bottom: 0;
    top:55px;
    left: 0;
    right: 0;
}