<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <a class="navbar-brand" [routerLink]="['/']">Yummy Rabbit</a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/product']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Product</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/service']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Service</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/support']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Support</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">About</a>
            </li>
        </ul>
    </div>
</nav>